@forward 'default' with (
  $font-main: 'Roboto',
  $font-secondary: 'Imbue',
  $font-mono: 'Inconsolata',
  $font-special: 'Reem Kufi',
  $font-tertiary: 'Lexend',
  $grid-body-height: 300px,
  $color-theme: #ccff00,
  $color-card-bg: #f6ffd5,
  $color-link: #ffc100
);

.week-verses {
  .verse {
    td:nth-child(1) {
      font-family: var(--font-secondary);
      font-size: 1.3em;
      text-align: right;
      white-space: nowrap;
      width: 40px;
      sup {
        font-family: var(--font-mono);
        color: var(--color-tertiary);
        padding-left: 2px;
      }
    }
  }
  tr {
    background-color: inherit! important;
  }
}

.due.past,
article > table {
  display: none;
}

strong {
  color: var(--color-theme);
  font-weight: normal;
}

p + p {
  margin-top: 0;
}

article.hidden {
  display: none;
}
